In [5]:
print("hello world")

hello world

# Comments

In [4]:
#single line cmment

In [7]:
""""Multiple 
line
comment"""

'"Multiple \nline\ncomment'

# Variables
    1. Number should not be in the first letter in the variable name
    2.No characters in the beginning except underscore

In [19]:
a=10
b=3.124
c="oviya"

In [20]:
a,b,c

(10, 3.124, 'oviya')

In [21]:
type(a)

int

In [22]:
type(b)

float

In [23]:
type(c)

str

In [24]:
a=b=c=10

In [25]:
a,b,c

(10, 10, 10)

It replaces the existing value and new value only will be printed

In [12]:
type(a)

int

In [13]:
type(b)

int

In [14]:
type(c)

int

#   Keywords
        False None true and as assert async break ....(35 keywords)
        
        Function without name-anonoymous function - lambda (keyword)

In [26]:
print("welcome to python")
print("Python is high level language")

welcome to python
Python is high level language

In [28]:
print("welcome to python",end=" ")
print("Python is high level language")
# Print in same line

welcome to python Python is high level language

In [29]:
print("welcome to python",2021,"Python is high level language",sep=".")

# will add delimitor after each statement - seperator- sep

welcome to python.2021.Python is high level language

In [30]:
#flush - if true will clean the buffer ,if false will not do anything.

In [31]:
name=input("enter your name")

enter your nameOviya Rajendran

In [33]:
age=int(input("enter your age"))

enter your age12

In [34]:
a=int(input("enter a num"))
b=int(input("enter a num"))
a+b

enter a num12
enter a num13

25

In [35]:
a= input("enter a num")
b=input("enter a num")
a+b

enter a num12
enter a num13

'1213'

In [36]:
a=float( input("enter a num"))
b=float(input("enter a num"))
a+b

enter a num12.4
enter a num13.5

25.9

In [71]:
a=float(input("enter a num"))
if a<=100:
    l="No charge"
elif a<=200:
    l=(a-100)*5
elif a>200:
    l=(a-200)*10+500
l

enter a num350

2000.0

In [73]:
print("The electricity consumed is {1} bill is{0}".format(l,a))

The electricity consumed is 350.0 bill is2000.0

In [75]:
print("The electricity consumed is {0} bill is{1}".format(l,a))
#changing the index will change the place of the variable

The electricity consumed is 2000.0 bill is350.0

# Type conversion
    explict type conversion- not done by compiler - we do mannually,eg: from into to float
    implisit - same storage value and no data loss, done by compiler automatically.

In [53]:
e=10
f=1.345
sum=e+f
sum
#implicit type conversion - into to float

11.345

In [54]:
g= '12'
h= 20
sum1= g+h
sum1
#explicit type conversion

TypeError: can only concatenate str (not "int") to str

In [55]:
g= '12'
h= 20
sum1= int(g)+h
sum1
#explicit type conversion

32

In [56]:
g= '12'
h= 20
sum1= g+str(h)
sum1
#explicit type conversion

'1220'

In [57]:
g= '12'
h= 20.12
sum1= float(g)+h
sum1
#explicit type conversion

32.120000000000005

# Formated output
    Just displays the output in form of sentance

In [58]:
i= 3.124
print("Hi pi value is {}".format(i))

Hi pi value is 3.124

In [63]:
j=10
k=3.24
c="python"
print("%d is integer and %f is float and %s is string"%(j,k,c))

10 is integer and 3.240000 is float and python is string

In [70]:
c=10/3
print("C=%0.16f" %(c))
#displays only  digits after the decimal

C=3.3333333333333335

# operators
    Arithemetic operator
    Assinment operators
    Comparision operators
    Bitwise operators
    Logical operators
    Special operators - id operators(to check the value of the object 1.is 2.notis & membeship operators(to check if the element is available/ present sequense in list/tupple/collection or not )

# Arithemetic operator
    + Addition
    - Subtraction
    *Mul
    / Division
    // Floor division (To get integer as out , not floating points)
    % Modulo
    ** Power

In [5]:
c= int(input(""))
d= int(input(""))
e= int(input(""))
f= int(input(""))
g=((c+d)*(e-f))//c
g

20
12
14
21

-12

# Comparision operators

Two int values from user and print greatest amoung them .

In [4]:
a= int(input(""))
b= int(input(""))
if a>b:
    print(a)
else:
    print(b)

13
15
15

# Bitwise operatoes
    & AND
    | OR
      NOT
    ^ XOR
    >> right shift (move the next x values to right sides - x>>2= 2(0000 890092 28390)->  00 000 89...
    << left shift

# Special Operatoes
    identity operators:
     is -is True
     is not -

In [8]:
x1=5
y1=5
x2='HEllo'
y2='HEllo'
x3=[1,2,3]
y3=[1,2,3]

print(x1 is not y1)

print(x2 is y2)

print (x3 is y3) #We created list so the pointer points differnet memory location

False
True
False

In [9]:
id(x3)

2084104875584

In [10]:
id(y3)

2084104059072

In [11]:
id(x1)

2084021365168

In [12]:
id(y1)

2084021365168

In [13]:
l1=[1,2,3]
print(1 in l1)

True

In [14]:
print(4 not in l1)

True

create a list of 10 numbers thn check if the number is even r odd,if even check if its available in the list or not

In [17]:
l1=[4,7,8,11,13,14,16,17,18,20]
a= int(input(""))
if a%2==0:
    print(a in l1)
else:
    print("Number is odd")

3
Number is odd